body {
  margin: 0%;
  background-color: white;
  font-family: 'Times New Roman', Tahoma, Geneva, Segoe IU, sans-sarif;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-sarif;
  padding: 1rem;l;
  background-color: rgba(17, 24, 39, 0.98);
}

.whatsapp {
  width: 100%;
  height: 100%;
}

main {
  margin-left: 0.45rem;
  margin-right: 0.45rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.45rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.titulo {
  text-align: center;
  font-size: 1.30rem;
  text-decoration: ;
}
.subtitulo {
  text-align: justify;
  font-size: 0.80rem;
  padding: 1rem;
}

.paragrafo {
  font-size: 0.65rem;
  text-align: justify;
  line-height: 1rem;
  padding: 1rem;
}

.paragrafo-espec {
  font-size: 0.65rem;
  line-height: 1rem;
  padding: 1rem
}

.lista-de-detalhes {
  font-size: 0.65rem;
  text-align: justify;
  line-height: 1rem;
  padding: 1rem;
}